<div fxLayout="column" fxFlex  [class.dark-theme]="isDarkTheme">
  <mat-sidenav-container fxFlex>
    <mat-sidenav #mainSideNav mode="side">
      <mat-toolbar>
        <img src="../assets/logo.png" style="height:80%">
      </mat-toolbar>
      <mat-nav-list>
        <a *ngFor="let navItem of mainMenuItems"
           mat-list-item
           mat-ripple
           [style.position]="'relative'"
           routerLinkActive="selected"
           [routerLink]="[navItem.path]">
          <!--<mat-icon *ngIf="navItem.icon">{{navItem.icon}}</mat-icon>-->
          <span>{{navItem.title}}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="mainSideNav.toggle()">
        <mat-icon *ngIf="mainSideNav.opened">chevron_left</mat-icon>
        <mat-icon *ngIf="!mainSideNav.opened">menu</mat-icon>
      </button>
      <!--<mat-icon *ngIf="navItem.icon">{{navItem.icon}}</mat-icon>-->
      {{(activeMenuItem$ | async)?.title}}
      <span fxFlex></span>
      <router-outlet></router-outlet>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  <div class="row">
    <div class="col-md-4">
      <button type="button" (click)="logout()" class="btn btn-link">Logout</button>
    </div>
  </div>
  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </mat-menu>
</div>


