<p-growl [(value)]="msgs"></p-growl>

<div class="col-md-offset-1 col-md-9">
  <h1>Adauga Oferta</h1>

  <form [formGroup]="offerPFForm" (ngSubmit)="onSubmit($event)" novalidate #formOffer="ngForm">
    <div class="form-group">
      <label for="name">Nume</label>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input placeholder="Nume" id="name" class="form-control" formControlName="name"
               [(ngModel)]="saveOffer.name" >
      </div>
    </div>
    <div class="form-group">
      <label for="phone">Numar de telefon</label>
      <input placeholder="Numar de telefon" id="phone" class="form-control" formControlName="phone" required>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched) && phone.errors.required"
           class="alert alert-danger">
        <div *ngIf="phone.errors.required">
          Numarul de telefon nu este completat.
        </div>
      </div>
    </div>
    <div formArrayName="phoneList" class="well well-lg">
      <div *ngFor="let phone of offerPFForm.controls['phoneList']['controls']; let i=index">
        <div class="panel-heading">
          <h3>Lista numarul: #{{i + 1}}</h3>
          <span class="glyphicon glyphicon-remove pull-right"
                *ngIf="offerPFForm.controls.phoneList.controls.length > 1" (click)="removeFromPhoneList(i)"></span>
        </div>
        <div class="panel-body" [formGroupName]="i">
          <app-offer-phone-list [group]="offerPFForm.controls['phoneList']['controls'][i]"
                          (change)="getPhoneItem($event)"></app-offer-phone-list>
        </div>
        <br>
      </div>
      <button type="button" class="btn btn-primary" (click)="addInPhoneList()">Adauga alt telefon +</button>
    </div>

    <div class="form-group">
      <label for="priceOffer">Oferta pret</label>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon" style="width: 50px;">RON</span>
        <input placeholder="Total de plata" id="priceOffer" class="form-control" [(ngModel)]="totalPrice" formControlName="priceOffer" style="width: auto !important;">
        <div class="col-md-3">
          <button type="button" (click)="calculateTotalPrice()" class="btn btn-success">
            Calculeaza pretul total
          </button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
        <label for="aboutUs" style="display: block">Cum a aflat de noi?</label>
        <p-dropdown id="aboutUs" [options]="aboutUsList" formControlName="aboutUs" [style]="{'width':'150px'}"
                    filter="filter" (onChange)="checkIsOther($event)" required>
          <ng-template let-abUs pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
              <div style="font-size:14px;float:right;margin-top:4px">{{abUs.label}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="col-md-3" *ngIf="isOtherRequired">
        <label for="other">Alte</label>
        <input placeholder="Altele" id="other" (ngModelChange)="checkIfAboutUsExists($event)" [(ngModel)]="selectedOtherName" class="form-control" formControlName="aboutAsName" [required]="isRequired ? true : null">
        <div *ngIf="aboutUsValExists" class="alert alert-danger">
          <div *ngIf="aboutUsValExists">
            Alta modalitate pe care vrei sa o introduci exista deja in lista `Cum a aflat de noi?`.
          </div>
        </div>
      </div>
    </div>
    <div class="form-group formBtn">
      <button type="button" class="btn btn-default"
              [disabled]="offerPFForm.invalid"
              (click)="onSubmit($event)">
        Salveaza
      </button>
    </div>
  </form>
</div>
