<div *ngIf="warrantyInfo" id="print-section" style="display: none">
  <div class="container">
    <div class="row">
        <div class="col-md-3">
          <img src="../assets/logo.png">
        </div>
        <div class="col-md-3" style="margin-left: 11%;">
          <h4 class="center-title title-epmhasis">Proces verbal de primire/ predare în service <br>(garanție)</h4>
          <h3 class="center-title title-epmhasis">Fișă Client </h3>
        </div>
        <div class="col-md-3" style="margin-left: 17%; width:22% !important; margin-bottom: 7%;">
          <h3 class="title-epmhasis">Nr.: <span class="input-data">{{warrantyInfo.noOfClients + 1}}</span></h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="position: absolute; margin-top: 7%;">
        <h4 class="title-epmhasis">Tel DS Mobile: <span class="input-data">{{dsMobilePhone}}</span></h4>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Tip Telefon: <span class="input-data">{{warrantyInfo.brandName}}</span></th>
        <th>MODEL: <span class="input-data">{{warrantyInfo.modelName}}</span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th></th>
        <th>Culoare: <span class="input-data">{{warrantyInfo.phoneColor}}</span></th>
      </tr>
      <tr>
        <th>Data Primirii: <span class="input-data">{{dateObj | date:'dd/MM/yyyy, hh:mm a'}}</span></th>
        <th>IMEI: <span class="input-data">{{warrantyInfo.imei !== '' ? warrantyInfo.imei : 'No IMEI'}}</span></th>
      </tr>
      <tr>
        <th></th>
        <th>Acumulator: DA__NU__Seria:__________</th>
      </tr>
      <tr>
        <th>Garanție:______DA__NU__</th>
        <th>Încărcător: Seria:__________</th>
      </tr>
      <tr>
        <th>Defect Constatat: <span *ngFor="let part of warrantyInfo.parts" class="input-data">{{part}}; </span></th>
        <th>Piese  înlocuite: <span *ngFor="let part of warrantyInfo.parts" class="input-data">{{part}}; </span></th>
      </tr>
      <tr>
        <th>Termen de reparare:________ zile</th>
        <th>Data predării: <span class="input-data">{{warrantyInfo.deliveredTime | date:'dd/MM/yyyy, hh:mm a'}}</span></th>
      </tr>
      <tr>
        <th>Preț estimativ: <span class="input-data">{{warrantyInfo.price}} RON</span></th>
        <th>Preț achitat:</th>
      </tr>
      <tr>
        <th>Nume client: <span class="input-data"> {{warrantyInfo.lastname}} {{warrantyInfo.firstname}}</span></th>
        <th>Număr telefon: <span class="input-data"> {{warrantyInfo.phoneNumber}}</span></th>
      </tr>
      <tr>
        <th>Am luat la cunoștință / Semnătură predare telefon (client):</th>
        <th>Am luat la cunoștință / Semnătură primire telefon (client):</th>
      </tr>
      <tr>
        <th>Semnătură primire telefon (reprezentant service):</th>
        <th>Semnătură predare telefon (reprezentant service):</th>
      </tr>
      </tbody>
    </table>
    <div class="footer">
      <span class="title-epmhasis">Notă: </span> Garanția se acordă doar pentru
      defecțiunea remediată și nu pentru alte defecțiuni nesolicitate sau apărute pe parcursul garanției. În cazul telefoanelor cu defecțiuni grave, firma
      nu își asumă nici un fel de responsabilitate dacă în urma procesului de reparație, acesta manifestă și alte defecte decât acelea pentru care a fost
      solicitată reparația( nu pornește, nu are semnal, nu încarcă, etc.).<br/>
      <span style="padding-left:4em">DS Mobile oferă 2 ani garanție pe manoperă si 30 de zile garanție pentru ecranele cu sticla schimbată sau ecrane vândute
      . Orice problemă apărută, în această perioadă( mai puțin situațiile enumerate mai jos) se va remedia în cel mult 4 zile lucrătoare, în mod
      gratuit.</span><br/><br/>
      <span class="title-epmhasis" >GARANŢIA nu acoperă următoarele situații: </span>
      <ul>
        <li>contactul cu lichide</li>
        <li>șocuri mecanice și urme de lovituri pe display sau ramă</li>
        <li>sticlă spartă sau display (lcd/ecran) spart</li>
        <li><span class="title-epmhasis">dacă apar dungi pe display, situație valabilă pentru modelele Samsung S7 EDGE</span></li>
      </ul>
      <span class="title-epmhasis">ATENŢIE:</span>  În cazul operațiunilor de programare software, datele personale din telefon( contacte, calendar, albume,
      multimedia, etc.) pot fi șterse irecuperabil. Aparatele vor fi predate în maxim 30 de zile de la data reparației. După acest termen, firma nu mai
      răspunde de acestea!
    </div>
  </div>

  <div class="dotted-border">
    <div class="container">
      <div class="row">
        <div class="col-md-3" style="margin-left: 11%;">
          <h3 class="center-title title-epmhasis">DS Mobile </h3>
        </div>
        <div class="col-md-3" style="margin-left: 17%; width:22% !important;">
          <h3 class="title-epmhasis">Nr.: <span class="input-data">{{warrantyInfo.noOfClients + 1}}</span></h3>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Tip Telefon: <span class="input-data">{{warrantyInfo.brandName}}</span></th>
          <th>MODEL: <span class="input-data">{{warrantyInfo.modelName}}</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th></th>
          <th>Culoare: <span class="input-data">{{warrantyInfo.phoneColor}}</span></th>
        </tr>
        <tr>
          <th>Data Primirii: <span class="input-data">{{dateObj | date:'dd/MM/yyyy, hh:mm a'}}</span></th>
          <th>IMEI: <span class="input-data">{{warrantyInfo.imei !== '' ? warrantyInfo.imei : 'No IMEI'}}</span></th>
        </tr>
        <tr>
          <th></th>
          <th>Acumulator: DA__NU__Seria:__________</th>
        </tr>
        <tr>
          <th>Garanție:______DA__NU__</th>
          <th>Încărcător: Seria:__________</th>
        </tr>
        <tr>
          <th></th>
          <th>Cod Telefon: <span class="input-data">{{warrantyInfo.phoneCode}}</span></th>
        </tr>
        <tr>
          <th>Defect Constatat: <span *ngFor="let part of warrantyInfo.parts" class="input-data">{{part}}; </span></th>
          <th>Piese  înlocuite: <span *ngFor="let part of warrantyInfo.parts" class="input-data">{{part}}; </span></th>
        </tr>
        <tr>
          <th>Termen de reparare:________ zile</th>
          <th>Data predării: <span class="input-data">{{warrantyInfo.deliveredTime | date:'dd/MM/yyyy, hh:mm a'}}</span></th>
        </tr>
        <tr>
          <th>Preț estimativ: <span class="input-data">{{warrantyInfo.price}} RON</span></th>
          <th>Preț achitat:</th>
        </tr>
        <tr>
          <th>Observații: <span class="input-data">{{warrantyInfo.observation}}</span></th>
          <th>Testat?: <span class="input-data">{{warrantyInfo.tested}}</span></th>
        </tr>
        <tr>
          <th>Nume client: <span class="input-data"> {{warrantyInfo.lastname}} {{warrantyInfo.firstname}}</span></th>
          <th>Număr telefon: <span class="input-data"> {{warrantyInfo.phoneNumber}}</span></th>
        </tr>
        <tr>
          <th>Proveniență client: <span class="input-data"> {{warrantyInfo.aboutUs}}</span></th>
          <th></th>
        </tr>
        <tr>
          <th>Semnătură predare telefon (client):</th>
          <th>Semnătură primire telefon (client):</th>
        </tr>
        <tr>
          <th>Semnătură primire telefon (reprezentant service):</th>
          <th>Semnătură predare telefon (reprezentant service):</th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
