
  <date-filter (onDatePicked)="getCheckoutForDate($event)"></date-filter>

  <amexio-card-pane [enableFooter]="false">
    <amexio-pane-header>
    <h1>Casa final de zi - {{currDate | date:"dd/MM/yyyy"}}</h1>
    </amexio-pane-header>
    <amexio-pane-body>
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-lg-6">
              <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#efa64c'" [fontColor]="'#ffffff'">
                <amexio-west [contentalign]="'center'" [width]="'100px'">
                  <amexio-image [imageClass]="'fa fa-line-chart fa-4x'"></amexio-image>
                </amexio-west>
                <amexio-center [contentalign]="'right'">
                  <amexio-datapoints [north]="true" [center]="true" [south]="true">
                    <amexio-north [cClass]="'datapoint-north'">
                      <div class="data-counts">
                        {{totalClientsPerDay}}
                      </div>
                    </amexio-north>
                    <amexio-center [cClass]="'datapoint-center'">
                      Total clienti adaugati la data selectata
                    </amexio-center>
                  </amexio-datapoints>
                </amexio-center>
                <!--<amexio-south [contentalign]="'center'" [backgroundColor]="'#d97c3e'">10% More than last year</amexio-south>-->
              </amexio-datapoints>
            </div>
            <div class="col-lg-6">
              <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#68bafc'" [fontColor]="'#ffffff'">
                <amexio-west [contentalign]="'center'" [width]="'100px'">
                  <amexio-image [imageClass]="'fa fa-line-chart fa-4x'"></amexio-image>
                </amexio-west>
                <amexio-center [contentalign]="'right'">
                  <amexio-datapoints [north]="true" [center]="true" [south]="true">
                    <amexio-north [cClass]="'datapoint-north'">
                      <div class="data-counts">
                        {{total}} RON
                      </div>
                    </amexio-north>
                    <amexio-center [cClass]="'datapoint-center'">
                      Total incasari
                    </amexio-center>
                  </amexio-datapoints>
                </amexio-center>
                <!--<amexio-south [contentalign]="'center'" [backgroundColor]="'#3192e1'">5% more than last year</amexio-south>-->
              </amexio-datapoints>
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-lg-2">
              <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#4CAF50'" [fontColor]="'#ffffff'">
                <amexio-west [contentalign]="'center'">
                  <amexio-image [imageClass]="'fa fa-check fa-4x'"></amexio-image>
                </amexio-west>
                <amexio-center [contentalign]="'right'">
                  <amexio-datapoints [north]="true" [center]="true" [south]="true">
                    <amexio-north [cClass]="'datapoint-north'">
                      <div class="data-counts">
                        {{totalIsRepairedPerDay}}
                      </div>
                    </amexio-north>
                    <amexio-center [cClass]="'datapoint-center'">
                      Reparatii finalizate
                    </amexio-center>
                  </amexio-datapoints>
                </amexio-center>
              </amexio-datapoints>
            </div>
            <div class="col-lg-2">
              <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#FF9800'" [fontColor]="'#ffffff'">
                <amexio-west [contentalign]="'center'">
                  <amexio-image [imageClass]="'fa fa-envelope-open-o fa-4x'"></amexio-image>
                </amexio-west>
                <amexio-center [contentalign]="'right'">
                  <amexio-datapoints [north]="true" [center]="true" [south]="true">
                    <amexio-north [cClass]="'datapoint-north'">
                      <div class="data-counts">
                        {{totalIsRemainingPerDay}}
                      </div>
                    </amexio-north>
                    <amexio-center [cClass]="'datapoint-center'">
                      Reparatii ramase/zi
                    </amexio-center>
                  </amexio-datapoints>
                </amexio-center>
              </amexio-datapoints>
            </div>
            <div class="col-lg-2">
              <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#00BCD4'" [fontColor]="'#ffffff'">
                <amexio-west [contentalign]="'center'">
                  <amexio-image [imageClass]="'fa fa-globe fa-3x'"></amexio-image>
                </amexio-west>
                <amexio-center [contentalign]="'right'">
                  <amexio-datapoints [north]="true" [center]="true" [south]="true">
                    <amexio-north [cClass]="'datapoint-north'">
                      <div class="data-counts">
                        {{totalIsRemaining}}
                      </div>
                    </amexio-north>
                    <amexio-center [cClass]="'datapoint-center'">
                      Reparatii ramase
                    </amexio-center>
                  </amexio-datapoints>
                </amexio-center>
              </amexio-datapoints>
            </div>

            <div class="col-lg-3">
              <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#68bafc'" [fontColor]="'#ffffff'">
                <amexio-west [contentalign]="'center'">
                  <amexio-image [imageClass]="'fa fa-money fa-4x'"></amexio-image>
                </amexio-west>
                <amexio-center [contentalign]="'right'">
                  <amexio-datapoints [north]="true" [center]="true" [south]="true">
                    <amexio-north [cClass]="'datapoint-north'">
                      <div class="data-counts">
                        {{totalCash}} RON
                      </div>
                    </amexio-north>
                    <amexio-center [cClass]="'datapoint-center'">
                      Total Cash
                    </amexio-center>
                  </amexio-datapoints>
                </amexio-center>
              </amexio-datapoints>
            </div>

            <div class="col-lg-3">
              <amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#607D8B'" [fontColor]="'#ffffff'">
                <amexio-west [contentalign]="'center'">
                  <amexio-image [imageClass]="'fa fa-credit-card fa-4x'"></amexio-image>
                </amexio-west>
                <amexio-center [contentalign]="'right'">
                  <amexio-datapoints [north]="true" [center]="true" [south]="true">
                    <amexio-north [cClass]="'datapoint-north'">
                      <div class="data-counts">
                        {{totalCard}} RON
                      </div>
                    </amexio-north>
                    <amexio-center [cClass]="'datapoint-center'">
                      Total card
                    </amexio-center>
                  </amexio-datapoints>
                </amexio-center>
              </amexio-datapoints>
            </div>
          </div>
          <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
              <!--<amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#4CAF50'" [fontColor]="'#ffffff'">-->
                <!--<amexio-west [contentalign]="'center'">-->
                  <!--<amexio-image [imageClass]="'fa fa-check fa-4x'"></amexio-image>-->
                <!--</amexio-west>-->
                <!--<amexio-center [contentalign]="'right'">-->
                  <!--<amexio-datapoints [north]="true" [center]="true" [south]="true">-->
                    <!--<amexio-north [cClass]="'datapoint-north'">-->
                      <!--<div class="data-counts">-->
                        <!--{{checkout[2].totalIsRepaired}}-->
                      <!--</div>-->
                    <!--</amexio-north>-->
                    <!--<amexio-center [cClass]="'datapoint-center'">-->
                      <!--Reparatii/GSM finalizate-->
                    <!--</amexio-center>-->
                  <!--</amexio-datapoints>-->
                <!--</amexio-center>-->
              <!--</amexio-datapoints>-->
            <!--</div>-->
            <!--<div class="col-lg-2">-->
              <!--<amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#FF9800'" [fontColor]="'#ffffff'">-->
                <!--<amexio-west [contentalign]="'center'">-->
                  <!--<amexio-image [imageClass]="'fa fa-envelope-open-o fa-4x'"></amexio-image>-->
                <!--</amexio-west>-->
                <!--<amexio-center [contentalign]="'right'">-->
                  <!--<amexio-datapoints [north]="true" [center]="true" [south]="true">-->
                    <!--<amexio-north [cClass]="'datapoint-north'">-->
                      <!--<div class="data-counts">-->
                        <!--{{checkout[2].totalInProgressPerDay}}-->
                      <!--</div>-->
                    <!--</amexio-north>-->
                    <!--<amexio-center [cClass]="'datapoint-center'">-->
                      <!--Reparatii/GSM ramase/zi-->
                    <!--</amexio-center>-->
                  <!--</amexio-datapoints>-->
                <!--</amexio-center>-->
              <!--</amexio-datapoints>-->
            <!--</div>-->
            <!--<div class="col-lg-2">-->
              <!--<amexio-datapoints [west]="true" [center]="true" [east]="true" [south]="true" [backgroundColor]="'#00BCD4'" [fontColor]="'#ffffff'">-->
                <!--<amexio-west [contentalign]="'center'">-->
                  <!--<amexio-image [imageClass]="'fa fa-globe fa-3x'"></amexio-image>-->
                <!--</amexio-west>-->
                <!--<amexio-center [contentalign]="'right'">-->
                  <!--<amexio-datapoints [north]="true" [center]="true" [south]="true">-->
                    <!--<amexio-north [cClass]="'datapoint-north'">-->
                      <!--<div class="data-counts">-->
                        <!--{{checkout[2].totalInProgress}}-->
                      <!--</div>-->
                    <!--</amexio-north>-->
                    <!--<amexio-center [cClass]="'datapoint-center'">-->
                      <!--Reparatii/GSM ramase-->
                    <!--</amexio-center>-->
                  <!--</amexio-datapoints>-->
                <!--</amexio-center>-->
              <!--</amexio-datapoints>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </amexio-pane-body>
  </amexio-card-pane>
