<p-growl [(value)]="msgs"></p-growl>
<div class="container">
  <h1>GSM</h1>
  <form [formGroup]="clientGSMForm" (ngSubmit)="onSubmit($event)" novalidate #formGSM="ngForm">
          <div class="form-group">
            <label for="lastname">Nume</label>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input placeholder="Nume" id="lastname" class="form-control" formControlName="lastname" required>
            </div>
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                 class="alert alert-danger">
              <div *ngIf="lastname.errors.required">
                Numele nu este completat.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="firstname">Prenume</label>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input placeholder="Prenume" id="firstname" class="form-control" formControlName="firstname" required>
            </div>
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                 class="alert alert-danger">
              <div *ngIf="firstname.errors.required">
                Prenumele nu este completat.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="firm">Firma</label>
            <input placeholder="Firma" id="firm" class="form-control" formControlName="firm">
          </div>
          <div class="form-group">
            <label for="phone">Numar de telefon</label>
            <input placeholder="Numar de telefon" id="phone" class="form-control" formControlName="phone" required>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                 class="alert alert-danger">
              <div *ngIf="phone.errors.required">
                Numarul de telefon nu este completat.
              </div>
            </div>
          </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input placeholder="E-mail" id="email" class="form-control" formControlName="email" required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">
            <div *ngIf="email.errors.required">
             E-mail-ul nu este completat.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="country">Tara</label>
          <input placeholder="Tara" id="country" class="form-control" formControlName="country" required>
          <div *ngIf="country.invalid && (country.dirty || country.touched)"
               class="alert alert-danger">
            <div *ngIf="country.errors.required">
              Tara nu este completata.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="city">Orasul</label>
          <input placeholder="Orasul" id="city" class="form-control" formControlName="city" required>
          <div *ngIf="city.invalid && (city.dirty || city.touched)"
               class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Orasul nu este completat.
            </div>
          </div>
        </div>
        <div class="form-group">
          <div formArrayName="billingAddress" class="well well-lg">
            <div *ngFor="let address of billingAddress.controls; let i=index" [formGroupName]="i" >
              <h4>Adresa de facturare</h4>
              <div style="margin-left: 1em;">
                <div class="form-group">
                  <label class="center-block">Tara:
                    <input placeholder="Tara" class="form-control" formControlName="country">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Orasul:
                    <input placeholder="Orasul" class="form-control" formControlName="city">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Strada:
                    <input placeholder="Strada" class="form-control" formControlName="street">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Numarul:
                    <input placeholder="Numarul" class="form-control" formControlName="no">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Zip / Codul Postal:
                    <input placeholder="Zip sau cod postal" class="form-control" formControlName="zip">
                  </label>
                </div>
              </div>
              <br>
            </div>
            <button (click)="addBillingAddress()" type="button">Adauga adresa de livrare</button>
          </div>
        </div>
        <div class="form-group">
          <div formArrayName="shipmentAddress" class="well well-lg">
            <div *ngFor="let address of shipmentAddress.controls; let i=index" [formGroupName]="i" >
              <h4>Adresa de livrare</h4>
              <div style="margin-left: 1em;">
                <div class="form-group">
                  <label class="center-block">Tara:
                    <input placeholder="Tara" class="form-control" formControlName="country">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Orasul:
                    <input placeholder="Orasul" class="form-control" formControlName="city">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Strada:
                    <input placeholder="Strada" class="form-control" formControlName="street">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Numarul:
                    <input placeholder="Numarul" class="form-control" formControlName="no">
                  </label>
                </div>
                <div class="form-group">
                  <label class="center-block">Zip / Codul Postal:
                    <input placeholder="Zip sau cod postal" class="form-control" formControlName="zip">
                  </label>
                </div>
              </div>
              <br>
            </div>
            <button (click)="addShipmentAddress()" type="button">Adauga adresa de facturare</button>
          </div>
        </div>
        <button type="submit" class="btn btn-default"
                [disabled]="clientGSMForm.invalid">Salveaza</button>
      </form>

</div>
