
  <div [formGroup]="phoneListGroup">
    <div style="margin-left: 1em;">
      <div class="container-fluid example-wrapper">
        <div class="row">
          <div class="form-group">
            <!--<div formArrayName="phoneList">-->
              <!--<div *ngFor="let phoneCascade of phoneListGroup.controls['phoneList']['controls']; let i=index">-->
                <!--<phone-model-cascading-list [inputModel]="newItem" (update)="updateModel($event)" [pIndex]="phoneIndex"></phone-model-cascading-list>-->
              <!--</div>-->
            <!--</div>-->
            <div class="col-md-3">
              <label for="phoneBrand" style="display: block">Telefon</label>
              <p-dropdown id="phoneBrand" [(ngModel)]="selectedBrand" [options]="phoneBrandsArray"
                          [style]="{'width':'150px'}" filter="true" (onChange)="onSelect($event.value)" formControlName="phoneBrand">
                <ng-template let-phone pTemplate="item">
                  <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{phone.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div *ngIf="isRequired" >
                <label for="newBrand">Denumire brand</label>
                <input placeholder="Denumire brand" id="newBrand" (ngModelChange)="checkIfNewBrandExists($event)" class="form-control" formControlName="newBrand" [required]="isRequired ? true : null">
                <div *ngIf="newBrandNameExists" class="alert alert-danger">
                  <div *ngIf="newBrandNameExists">
                    Noul brand de telefon pe care vrei sa il introduci exista deja in lista `Telefon`.
                  </div>
                </div>
              </div>
              <div *ngIf="isRequired">
                <label for="newModel">Denumire model</label>
                <input placeholder="Denumire model" id="newModel" (ngModelChange)="checkIfNewModelExists($event)" class="form-control" formControlName="newModel" [required]="isRequired ? true : null">
                <div *ngIf="newModelNameExists" class="alert alert-danger">
                  <div *ngIf="newModelNameExists">
                    Noul model de telefon pe care vrei sa il introduci exista deja in lista `Model`.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <label for="phoneModel" style="display: block">Model</label>
              <p-dropdown id="phoneModel" [(ngModel)]="selectedModel" [options]="phoneModelsArray" [style]="{'width':'150px'}"
                          filter="filter" (onChange)="onModelSelect($event.value)" formControlName="phoneModel">
                <ng-template let-model pTemplate="item">
                  <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{model.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>

              <div *ngIf="isRequiredModel">
                <label for="newSingleModel">Denumire model</label>
                <input placeholder="Denumire model" id="newSingleModel" (ngModelChange)="checkIfNewModelExists($event)" class="form-control" formControlName="newSingleModel" [required]="isRequired ? true : null">
                <div *ngIf="newModelNameExists" class="alert alert-danger">
                  <div *ngIf="newModelNameExists">
                    Noul model de telefon pe care vrei sa il introduci exista deja in lista `Model single`.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="imei">IMEI</label>
              <input placeholder="IMEI" pattern="\d*" minlength="14" maxlength="14" id="imei" class="form-control" formControlName="imei">
            </div>
            <!--<div *ngIf="imei.errors.maxlength">-->
              <!--IMEI-ul trebuie sa fie exact de 14 cifre.-->
            <!--</div>-->
            <div class="col-md-3">
              <label for="phoneColor">Culoare</label>
              <input placeholder="Culoare" id="phoneColor" class="form-control" formControlName="phoneColor">
            </div>
          </div>
            <div class="col-md-3 col-md-offset-6">
              <label for="phone-code">Cod Telefon</label>
              <input placeholder="Cod telefon"  id="phone-code" class="form-control" formControlName="phoneCode">
            </div>
          <!--<div *ngIf="phoneCode.errors.maxlength">-->
            <!--IMEI-ul trebuie sa fie exact de 14 cifre.-->
          <!--</div>-->
          <div class="col-md-12 phone-list-pad">
            <div formArrayName="problems">
              <div *ngFor="let email of phoneListGroup.controls['problems']['controls']; let i=index" class="panel panel-primary">
                <div class="panel-heading">
                  <span>Lista piese: {{i + 1}}</span>
                  <span class="glyphicon glyphicon-remove pull-right" *ngIf="phoneListGroup.controls.problems.controls.length > 1" (click)="removeProblem(i)"></span>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <app-problem-list [group]="phoneListGroup.controls['problems']['controls'][i]"></app-problem-list>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-primary" (click)="addProblem()">Adauga alta piesa +</button>
          </div>
          <div class="form-group col-md-12">
            <label for="observation">Observatii</label>
            <textarea placeholder="Observatii" class="form-control" id="observation" rows="3" formControlName="observation"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
