<div class="col-md-3">
  <label for="phoneBrand" style="display: block">Telefon</label>
  <p-dropdown id="phoneBrand" [(ngModel)]="newModel.phoneId" [options]="phoneBrands"
              [style]="{'width':'150px'}" filter="filter" (onChange)="onSelect($event.value)">
    <ng-template let-phone pTemplate="item">
      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
        <div style="font-size:14px;float:right;margin-top:4px">{{phone.label}}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>
<div class="col-md-3">
  <label for="model" style="display: block">Model</label>
  <p-dropdown id="model" [(ngModel)]="newModel.modelId" [options]="cascadedModels" [style]="{'width':'150px'}" filter="filter">
    <ng-template let-model pTemplate="item">
      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
        <div style="font-size:14px;float:right;margin-top:4px">{{model.label}}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>
