<style>
  a[href="/clients/gsm-sent"] {
    display: none;
  }
  </style>
<div class="container-fluid">
<!--    <h3 *ngIf="isLoading"><i>Se incarca tipurile de clienti ... </i></h3>-->
<!--    <h3 *ngIf="!isLoading">Alege tipul de client:</h3>-->

    <nav>
      <a *ngFor="let clientType of clientTypes | async"
         [routerLink]="[clientType.url]">{{clientType.type}}</a>
    </nav>
  <div *ngIf="selectedClientType">
    <hr>
    <h2>Adauga client</h2>
    <h3>{{selectedClientType.id}}</h3>
  </div>
</div>
<router-outlet></router-outlet>

