<div *ngIf="warrantyGSMInfo" id="print-section" style="display: none">
  <div class="container">
    <div class="row">
        <div class="col-md-3">
          <img src="../assets/logo.png">
        </div>
        <div class="col-md-3" style="margin-left: 11%;">
          <h4 class="center-title title-epmhasis">Proces verbal de primire/ predare în service <br>(garanție)</h4>
        </div>
        <div class="col-md-3" style="margin-left: 17%; width:22% !important; margin-bottom: 7%;">
          <h3 class="title-epmhasis">Nr.: <span class="input-data">{{warrantyGSMInfo.noOfClients + 1}}</span></h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="position: absolute; margin-top: 7%;">
        <h4 class="title-epmhasis">Tel DS Mobile: <span class="input-data">{{dsMobilePhone}}</span></h4>
      </div>
    </div>
    <div class="row">
      <div style="margin-left: 36%;">
        <h4 class="title-epmhasis">FIȘĂ CONȚINUT COLET</h4>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>MODEL DISPLAY</th>
        <th>CANTITATE</th>
        <th>CULOARE</th>
        <th>OBSERVAȚII</th>
        <th>VALOARE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let phone of warrantyGSMInfoDeepCopy">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

    <div class="row" style="margin-top: 15px;">
      <div class="col-md-8" style="margin-bottom: 10px;">DATA PRIMIRE COLET:______________</div>
      <div class="col-md-4 col-md-offset-8">TOTAL PLATA:______________</div>
    </div>
    <div class="row">
      <div class="col-md-6" style=" position: absolute; margin-top: 29px;">DATA LIVRARE COLET:______________</div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-offset-8">
      <h3>Garanție</h3>
    </div>
    <div  class="footer">
      Retururile sunt acceptate doar dacă sigiliile aplicate pe produse sunt intacte, iar produsele nu prezintă urme de deteriorare
      (mufe rupte, cablu flex, rupt/tăiat, geam fisurat, display spart, display pătat, etc. ).
      Pentru retur este necesară expedierea produsului defect la adresa noastră, iar acesta trebuie să fie ambalat corespunzător.
      Rambursarea sumei se face doar dacă produsul corespunde din punct de vedere optic / funcțional.
      Nu se acceptă produse ambalate, fără folii de protecție, fără sigilii.
    </div>
  </div>
  <div class="dotted-border">
    <div class="col-md-3">
      <h3 class="center-title title-epmhasis">Fișă GSM  -
        <span *ngIf="warrantyGSMInfo.phoneList[0].displayOpType">Vanzare/Imprumut Display</span>
        <span *ngIf="!warrantyGSMInfo.phoneList[0].displayOpType">Service</span>
      </h3>
    </div>
    <div class="col-md-3" style="margin-left: 42%; width:22%">
      <h3 class="title-epmhasis">Nr.: <span class="input-data">{{warrantyGSMInfo.noOfClients + 1}}</span></h3>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th><span class="head-1-gsm">Nume: <span class="input-data">{{warrantyGSMInfo.lastname}}</span></span></th>
        <th><span class="head-1-gsm">Data intrare: <span class="input-data">{{warrantyGSMInfo.dateAdded | date:'dd/MM/yyyy, hh:mm a'}}</span></span></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><span class="head-1-gsm">Nr telefon: <span class="input-data">{{warrantyGSMInfo.phoneNumber}}</span></span></th>
      </tr>
      <tr>
        <th>Tip telefon</th>
        <th>Model</th>
        <th>Culoare</th>
        <th>Cantitate</th>
        <th>Solicitare/problema</th>
        <th>Pret</th>
        <th>Observatii</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let phone of warrantyGSMInfoDeepCopy">
        <td>{{phone.phoneBrand}}</td>
        <td>{{phone.phoneModel}}</td>
        <td>{{phone.phoneColor}}</td>
        <td><span *ngFor="let part of phone.problems">{{part.phoneQuantity}};</span></td>
        <td><span *ngIf="phone.phoneBrand"><span *ngFor="let part of phone.problems">{{part.problem}};</span></span></td>
        <td><span *ngIf="phone.phoneBrand">{{phone.totalPricePerPhone}}</span></td>
        <td>{{phone.observation}}</td>
      </tr>
      <tr>
        <td *ngFor="let i of [1,2,3,4,5]"></td>
        <td><span class="title-epmhasis">Total: </span>{{warrantyGSMInfo.price}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
