<div *ngIf="warrantyGSMInfo" id="print-section" style="display: none">
  <div class="container">
    <div class="row">
        <div class="col-md-3">
          <img src="../assets/logo.png">
        </div>
        <div class="col-md-3" style="margin-left: 11%;">
          <h4 class="center-title title-epmhasis">Proces verbal de primire/ predare în service <br>(garanție)</h4>
          <h3 class="center-title title-epmhasis">Fișă GSM </h3>
        </div>
        <div class="col-md-3" style="margin-left: 17%; width:22% !important; margin-bottom: 7%;">
          <h3 class="title-epmhasis">Nr.: <span class="input-data">{{warrantyGSMInfo.noOfClients + 1}}</span></h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="position: absolute; margin-top: 7%;">
        <h4 class="title-epmhasis">Tel DS Mobile: <span class="input-data">{{dsMobilePhone}}</span></h4>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
      <tr>
        <th><span class="head-1-gsm">Nume: <span class="input-data">{{warrantyGSMInfo.lastname}}</span></span></th>
        <th><span class="head-1-gsm">Data intrare: <span class="input-data">{{warrantyGSMInfo.dateAdded | date:'dd/MM/yyyy, hh:mm a'}}</span></span></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><span class="head-1-gsm">Nr telefon: <span class="input-data">{{warrantyGSMInfo.phoneNumber}}</span></span></th>
      </tr>
      <tr>
        <th>Tip telefon</th>
        <th>Model</th>
        <th>Culoare</th>
        <th>Cantitate</th>
        <th>Solicitare/problema</th>
        <th>Pret</th>
        <th>Observatii</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let phone of warrantyGSMInfo.phoneList">
        <td>{{phone.phoneBrand}}</td>
        <td>{{phone.phoneModel}}</td>
        <td>{{phone.phoneColor}}</td>
        <td>{{phone.phoneQuantity}}</td>
        <td><span *ngFor="let part of warrantyGSMInfo.parts">{{part}};</span></td>
        <td>{{warrantyGSMInfo.price}}</td>
        <td>{{phone.observation}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
