.center-title {
  text-align-last: center;
}
.title-epmhasis {
  font-weight: bold;
}
#print-section{
  background: #9fdfbf;
}
th, td{
  border:2px solid black !important;
  padding: 4px !important;
}
.table-bordered {
  border: 2px solid black !important;
}
.footer {
  font-size: 10px;
}

@media print {
  .center-title {
    text-align-last: center;
  }
  .title-epmhasis {
    font-weight: bold;
  }
  #print-section{
    background: #9fdfbf;
  }
  .container {
    background: red;
  }
  th, td{
    border:2px solid black !important;
    padding: 4px !important;
  }
  .table-bordered {
    border: 2px solid black !important;
  }
  .footer {
    font-size: 10px;
  }
}
