<div id="print-section" class="container">
  <div class="col-md-3">
    <h3 class="title-epmhasis">Punct Service</h3>
    <span>___________________________________</span>
    <h4 class="title-epmhasis">Tel.:________________________</h4>
  </div>
  <div class="col-md-5" style="padding-left: 6em">
    <h4 class="center-title title-epmhasis">Proces verbal de primire in service <br>(garantie)</h4>
  </div>
  <div class="col-md-3" style="padding-left: 12em">
    <h3 class="title-epmhasis">Nr.:_____________</h3>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Tip Telefon:</th>
      <th scope="col">MODEL:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"></th>
      <th>Culoare:</th>
    </tr>
    <tr>
      <th scope="row">Data Primirii:_____/____/201_</th>
      <th>IMEI:_______________</th>
    </tr>
    <tr>
      <th scope="row"></th>
      <th>Acumulator: DA__NU__Seria:__________</th>
    </tr>
    <tr>
      <th scope="row">Garantie:______DA__NU__</th>
      <th>Incarcator: Seria:__________</th>
    </tr>
    <tr>
      <th scope="row"></th>
      <th>Cod Telefon</th>
    </tr>
    <tr>
      <th scope="row">Defect Constatat</th>
      <th>Piese inlocuite</th>
    </tr>
    <tr>
      <th scope="row">Termen de reparare:________ zile</th>
      <th>Data predarii: ____/____/201__</th>
    </tr>
    <tr>
      <th scope="row">Pret estimativ:</th>
      <th>Pret achitat:</th>
    </tr>
    <tr>
      <th scope="row">Nume client:</th>
      <th>Numar telefon:</th>
    </tr>
    <tr>
      <th scope="row">Semnatura client:</th>
      <th>Reprezentant service:</th>
    </tr>
    </tbody>
  </table>
  <div class="footer">
    <span class="title-epmhasis">Notă: </span> Garanția pentru reparația telefonului este de __ zile de la data ridicării aparatului și se acordă doar pentru
    defecțiunea remediată și nu pentru alte defecțiuni nesolicitate sau apărute pe parcursul garanției. În cazul telefoanelor cu defecțiuni grave, firma
    nu își asumă nici un fel de responsabilitate dacă în urma procesului de reparație, acesta manifestă și alte defecte decât acelea pentru care a fost
    solicitată reparația( nu pornește, nu are semnal, nu încarcă, etc.).<br/>
    <span class="title-epmhasis" style="padding-left:4em">NU</span> se acordă garanție pentru:
    <ul>
      <li> carcase lovite, antene rupte, conectori deteriorați, display spart sau defecțiuni provenite din nerespectarea condițiilor din certificatul de
        garanție, punere în funcțiune și utilizare precum și intervenții neautorizate asupra echipamentului.
      </li>
      <li> reparația telefoanelor care au urme și efecte secundare datorate contactului cu diferite lichide.</li>
      <li>lipsa sau deteriorarea sigiliului de garanție.</li>
    </ul>
    <span class="title-epmhasis">ATENŢIE:</span>  În cazult operațiunilor de programare software, datele personale din telefon( contacte, calendar, albume,
    multimedia, etc.) pot fi șterse irecuperabil. Aparatele vor fi predate în maxim 30 de zile de la data reparației. După acest termen, firma nu mai
    răspunde de acestea!
  </div>
</div>
