<p-growl [(value)]="msgs"></p-growl>
<div class="container">
  <h1>PF</h1>
  <form [formGroup]="clientPFForm" (ngSubmit)="onSubmit($event)" novalidate #formPF="ngForm">
      <div class="form-group">
          <label for="lastname">Nume</label>
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input placeholder="Nume" id="lastname" class="form-control" formControlName="lastname" [(ngModel)]="saveClientPF.lastname" required>
          </div>
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
             class="alert alert-danger">
          <div *ngIf="lastname.errors.required">
            Numele nu este completat.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstname">Prenume</label>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input placeholder="Prenume" id="firstname" class="form-control" formControlName="firstname" [(ngModel)]="saveClientPF.firstname" required>
        </div>
        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
             class="alert alert-danger">
          <div *ngIf="firstname.errors.required">
            Prenumele nu este completat.
          </div>
        </div>
      </div>
    <div class="form-group">
      <label for="firm">Firma</label>
      <input placeholder="Firma" id="firm" class="form-control" formControlName="firm" [(ngModel)]="saveClientPF.firm">
    </div>
    <div class="form-group">
      <label for="phone">Numar de telefon</label>
      <input placeholder="Numar de telefon" id="phone" class="form-control" formControlName="phone" [(ngModel)]="saveClientPF.phone" required>
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
           class="alert alert-danger">
        <div *ngIf="phone.errors.required">
          Numarul de telefon nu este completat.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="phoneModel">Model telefon</label>
      <input placeholder="Model telefon" id="phoneModel" class="form-control" formControlName="phoneModel" [(ngModel)]="saveClientPF.phoneModel" required>
      <div *ngIf="phoneModel.invalid && (phoneModel.dirty || phoneModel.touched)"
           class="alert alert-danger">
        <div *ngIf="phoneModel.errors.required">
          Modelul de telefon nu este completat.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="problem" style="display: block">Solicitare/Problema</label>
      <p-dropdown id="problem" [options]="problems" [(ngModel)]="selectedProblem" [ngModelOptions]="{standalone: true}" [style]="{'width':'150px'}" filter="filter">
        <ng-template let-problem pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="font-size:14px;float:right;margin-top:4px">{{problem.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="form-group">
      <label for="priceOffer">Oferta pret</label>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">RON</span>
        <!--<p-spinner size="30" id="priceOffer" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" ></p-spinner>-->
        <input placeholder="Oferta Pret" id="priceOffer" class="form-control" formControlName="priceOffer" [(ngModel)]="saveClientPF.priceOffer" required>
      </div>
      <div *ngIf="priceOffer.invalid && (priceOffer.dirty || priceOffer.touched)"
           class="alert alert-danger">
        <div *ngIf="priceOffer.errors.required">
         Oferta de pret nu este completata.
        </div>
      </div>
    </div>
    <div class="form-group">
        <label for="appointmentDate" style="display: block">Data si ora programarii</label>
        <p-calendar id="appointmentDate" [(ngModel)]="defaultDate" [ngModelOptions]="{standalone: true}" [defaultDate]="defaultDate" [showTime]="true" [showIcon]="true" readonlyInput="readonlyInput" [stepMinute]="15" ></p-calendar>
    </div>
    <div class="form-group">
      <label for="aboutUs">Cum a aflat de noi?</label>
      <input placeholder="Cum a aflat de noi?" id="aboutUs" class="form-control" formControlName="aboutUs" [(ngModel)]="saveClientPF.aboutUs" required>
      <div *ngIf="aboutUs.invalid && (aboutUs.dirty || aboutUs.touched)"
           class="alert alert-danger">
        <div *ngIf="aboutUs.errors.required">
          Cum a aflat de noi nu este completat.
        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-default"
            [disabled]="clientPFForm.invalid">Salveaza</button>
  </form>
</div>

